.homepage {
    background: #c2edfe;
    background-image: url("assets/bghome.PNG"), url("assets/sparkle.gif");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
.sparkle {
    position: absolute;
}
.sparkle3 {
    position: absolute;
}
#sparkle1 {
    position: absolute;
    top: 0;
}
#sparkle2 {
    position: absolute;
    /*border: dashed black 2px;*/
    top: 57vh;
    left: 10vw;
}
#sparkle3 {
    position: absolute;
    top: 64vh;
    right: 1vw;
    /*border: dashed black;*/
}
#sparkleidol {
    position: absolute;
    left: 10vw;
    top: -19vh;
    width: 5vw;
}
.history {
    background-image: url("assets/sparkle.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /*background-color: rgba(243, 222, 34, 0.64);*/
    background-color: #c2edfe;
}
.power {
    background-image: url("assets/sparkle.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /*background-color: rgba(251, 126, 181, 0.64);*/
    background-color: #c2edfe;
    margin: 0;
    padding: 0;
    /*
    filter:blur(2px);
    background-image: url(assets/Skz.jpg); 
    */
}
#fans {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.28)),
        url("assets/castlekiiikiii.gif"), url("assets/sparkle.gif");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    /*background-color: rgba(251, 126, 181, 0.64);*/
    background-color: #b9c9ee;
    margin: 0;
    padding: 0;
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover; /* 像 background-size: cover */
    z-index: -1; /* 放到最底层 */
}
.items {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
#album {
    position: absolute;
    left: 5vw;
    top: 29vh;
    rotate: x 20deg;
}
#album img {
    width: 22vw;
    opacity: 88%;
}
#album .hover-img {
    position: absolute;
    top: 0;
    left: 34px;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.3s ease;
}
#album:hover .hover-img {
    opacity: 1;
    transform: scale(2);
}
#ccd {
    position: absolute;
    left: 77vw;
    top: 37vh;
}
#ccd img {
    width: 18vw;
    transition: transform 0.4s ease;
}
#ccd:hover img {
    transform: scale(1.5) rotate(380deg);
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #afc6ff) drop-shadow(0 0 20px #afc6ff)
        drop-shadow(0 0 40px #afc6ff);
}
#hover-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 66vw;
    pointer-events: none;
    z-index: 999;

    font-family: monospace;
    font-size: 1.25vw;
    line-height: 1.5;
    text-align: left;
    color: #2a2a2a;

    opacity: 0;
    transition: opacity 1.2s ease;
}
#hover-text::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);

    z-index: -1;
}

/* hover 触发 */
.ccd-link:hover + #hover-text {
    opacity: 1;
}
.letter-link:hover + #hover-text {
    opacity: 1;
}

#seventeen {
    position: absolute;
    left: 62vw;
    top: 35vh;
}
#seventeen img {
    width: 10vw;
    opacity: 88%;
}
#seventeen .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    opacity: 0;
    transition: opacity 0.3s ease;
}
#seventeen:hover .hover-img {
    opacity: 1;
    transform: scale(3);
}
#nj {
    position: absolute;
    left: 27vw;
    top: 38vh;
}
#nj img {
    width: 14vw;
    opacity: 88%;
}
#nj .hover-img {
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    height: 74%;

    opacity: 0;
    transition: opacity 0.3s ease;
}

#nj:hover .hover-img {
    opacity: 1;
    transform: scale(2.5);
    filter: drop-shadow(0 0 20px #ffffff);
}
#nj:hover .hover-img {
    opacity: 1;
    transform: scale(2);
}
#window {
    position: absolute;
    left: 46vw;
    top: 38vh;
}
#window img {
    width: 10vw;
    opacity: 88%;
}
#window .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.3s ease;
}
#window:hover .hover-img {
    opacity: 1;
    transform: scale(2);
}
#cat {
    position: absolute;
    left: 63vw;
    top: 17vh;
}
#cat img {
    width: 19vw;
    opacity: 88%;
    transition: all 0.3s ease;
}

#cat:hover img {
    transform: scale(1.25);
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #ff69b4);
}

#idol {
    background-image: linear-gradient(rgba(177, 205, 254, 0.55), rgba(255, 255, 255, 0.28)), url("assets/castle3.gif"),
        url("assets/sparkle4.gif"), url("assets/sparkle.gif"), url("assets/curtain2.gif");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    background-color: #cddff6;
    margin: 0;
    padding: 0;
}
#clouds {
    position: fixed;
    bottom: -27vw;
    left: 38%;
    transform: translateX(-50%);
    width: 120%;
    z-index: 0;
    pointer-events: none;
}
#paper1 {
    position: absolute;
    left: 61%;
}
#paper1 img {
    width: 19vw;
}
#paper2 {
    position: absolute;
    left: 76%;
    top: 5vh;
}
#paper2 img {
    width: 15vw;
}
.letter {
    position: absolute;
}

.letter img {
    width: 100%;
    display: block;
}

.letter .overlay {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 1vw;
    box-sizing: border-box;

    font-family: "Kranky", serif;
    font-size: 1.6vw;
    color: black;
    background: rgba(255, 255, 255, 0.85);

    opacity: 0;
    transition: opacity 0.3s ease;
}

.letter:hover .overlay {
    opacity: 1;
}
#letter1 {
    left: 10%;
    top: 49vh;
    width: 24vw;
    transform: rotate(17deg);
}
#letter2 {
    left: 6%;
    top: 15vh;
    width: 15vw;
    transform: rotate(10deg);
}
#letter3 {
    left: 32%;
    top: 4vh;
    width: 14vw;
    transform: rotate(-6deg);
}
#letter4 {
    left: 19%;
    top: 11vh;
    width: 13vw;
    transform: rotate(0deg);
}
#letter5 {
    left: 45%;
    top: 6vh;
    width: 18vw;
    transform: rotate(-4deg);
}
#letter6 {
    left: 51%;
    top: 28vh;
    width: 15vw;
    transform: rotate(0deg);
}

#letter7 {
    position: absolute;
    left: 83%;
    top: 33vh;
}
#letter7 img {
    width: 12vw;
    transform: rotate(22deg);
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 11px #ff69b4);
    }
    100% {
        filter: drop-shadow(0 0 28px #fff) drop-shadow(0 0 36px #2d9aff);
    }
}

#letter8 {
    left: 66%;
    top: 44vh;
    width: 15vw;
}
#letter9 {
    left: 27%;
    top: 40vh;
    width: 23vw;
}

#white {
    color: #ffffff;
}
#white2 {
    color: white;
}

#homepage {
    font-family: "Kranky", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 8em;
    position: fixed;
    top: 0;
    left: 20%;
    right: 20%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    text-align: center;
    /*color: #fff;*/
    /*-webkit-text-stroke: 2px black;*/
    /*
    text-shadow: 
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
         */
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-shadow:
        0 0 5px #d9f3ff,
        0 0 10px #379fff,
        0 0 20px #f4fdff;
}

#menu {
    margin: 0;
    padding: 0;
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #aee2e7;*/
    background-color: #b1e0f3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    background-image: url("assets/sparkle.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#menu ul {
    position: relative;
}
#menu ul li {
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
}
#menu ul li a {
    position: relative;
    text-decoration: none;
    font-size: 3.5em;
    padding: 0 10px;
    color: #fff;
    font-weight: 700;
}
#menu ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    /*background: rgba(243, 222, 34, 0.64);*/
    background: rgba(251, 126, 181, 0.64);
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: 0.5s transform;
}
#menu ul li a:hover:before {
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
}

#toggleIcon {
    position: fixed;
    top: 2.5rem;
    right: 5rem;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255) url(assets/list.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    cursor: pointer;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem 2rem 5rem;
    text-transform: uppercase;
    /*letter-spacing: -1px;*/
    /*transform: scaleY(1.3);*/
    line-height: 0.9;
    align-items: center;
}
.header-middle {
    text-align: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Krona One", sans-serif;
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    letter-spacing: 4px;
}
.header-left {
    font-size: 30px;
    font-weight: normal;
    font-family: "Kranky", serif;
}

/*
.history-column {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
*/
.history-column {
    flex: 0 0 320px;
    width: 320px;
    display: flex;
    flex-direction: column;
}
.pic {
    width: 300px;
}
.history-column h1,
.history-column h2 {
    margin-bottom: 16px;
}

.history-column p {
    line-height: 1.4;
    margin-bottom: 12px;
}

.tagline {
    font-weight: 600;
}
.year {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.enable-scroll {
    position: absolute;
    top: 154px;
    bottom: 36px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px 80px;
    overflow-x: auto;
    overflow-y: hidden;
    background: rgba(255, 255, 255, 0.25);
    color: #0e0e0e;
}

.highlight {
    color: #c40000;
    font-weight: 600;
    /*border-bottom: 2px solid #c40000;*/
}
.underline {
    color: #000;
    border-bottom: 2px solid #c40000;
}

.shell {
    justify-content: center;
    min-height: 80vh;
    align-items: center;

    position: relative;
    min-width: 115vh;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 900px;
}
.shell .box {
    position: relative;
    width: 250px;
    height: 250px;
    transition: 0.3s;
    overflow: hidden;
    margin: 30px;
    transform: rotateY(0);
    transition-delay: 0.1s;
    /*border-radius: 5px;*/
}
.shell .box .powerimage img {
    width: 100%;
    height: 100%;
    opacity: 80%;
    /*filter: invert(80%);*/
    filter: blur(5px);
    transition: 1s;
}
.shell:hover .box {
    transform: rotateY(20deg);
}
.shell .box:hover {
    transform: rotateY(0deg) scale(2);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.7);
    z-index: 1;
    filter: none 0.1s;
}
.shell .box:hover ~ .box {
    transform: rotateY(-20deg);
}
.shell .box .powerimage img:hover {
    filter: none;
    opacity: 100%;
    transition: 1s;
}

.about {
    background-color: #c2edfe;
}
.about-main {
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-poster {
    display: block;
    max-width: 60vw;
    height: auto;
}
