body {
  background-image: url("assets/lovelanguage.JPG");
  background-size: cover;
  height: 100vh;
  /*background-repeat: no-repeat;*/
  /*background-position: 50px 25px;*/
  font-family: monospace;
}

img {
  height: 150px;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
  filter: grayscale(30%);
  /*      border: 3px solid blue; */
}

img:hover {
  height: 300px;
  filter: grayscale(0%);
  /*   border: 1px solid red; */
}

p:hover {
  /*   transform: rotate(5deg); */
  box-shadow: 1em;
}

#first-section {
  line-height: 2px;
  color: #639967;
  background: white;
}

.matcha {
  background: white;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
a {
  animation: coolAnimation 3s infinite;
}

#p1 {
  animation: coolAnimation 5s infinite;
}

@keyframes coolAnimation {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: blue;
  }
}
